<nav>
    <h1>Tech Blog</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        {{#if loggedIn}}
        <li><a href="/api/user/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</nav>